

<form method="GET" action="/posts">
  <input type="submit" value="Show All Posts">
</form>

<form method="POST" action="/index">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="log out">
</form>
