<h1></h1>

<form method="GET" action="/posts">
  <input type="submit" value="All Articles">
</form>

<form method="GET" action="/profile">
  <input type="submit" value="My Profile">
</form>

<form method="POST" action="/users/login">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="log out">
</form>
