

  <form method="POST" action="/users/login">
  <label>name</label>
  <input type="text" name="full_name" placeholder="full name">
  <br>
  <label>user</label>
  <input type="text" name="username" placeholder="username">
  <br>
  <label>*</label>
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="create">
  </form>

