<h1>TEOPEDIA</h1>
<form method="POST" action="/users/login">
  <label>Username</label>
  <input type="text" name="email">
  <br>
  <label>Password</label>
  <input type="password" name="password">
  <input type="submit" value="log in">
</form>

<p><a href="/create_user">Signup</a></p>



