<h1>TEOPEDIA</h1>


<form method="POST" action="/users/index.erb">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="log out">
</form>

<p>Posts</p>
<ul>
  <% @posts.each do |post| %>
  <li><a href="/posts/<%= post['id'] %>" > <%= post["article_title"] %> </a></li>
  <% end %>
</ul>
<br>
<form method="POST" action="/create_post">
  <input type="submit" value="Create Post">
</form>

